body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/FondoPaginaInternaMiTrabajo.png');
    background-size: 100% 100%;
    margin: 0;
}  
     
.botonQuienSoyPaginasInternas
{
    padding: 0px; float: right; width: 80px; position:absolute; margin-top: 39%; margin-right: -220px; margin-left: 1020px;
}

.botonAccionesProvocadorasPaginasInternas
{
    padding: 0px; float: right; width: 82px; position:absolute; margin-top: 39%; margin-right: -30px; margin-left: 1110px;
}

.botonCuadroMiTrabajoPaginasInternas
{
    padding: 0px; float: right; width: 80px; position:absolute; margin-top: 39%; margin-right: -220px; margin-left: 1020px;
}

.botonInicioPaginasInternas
{
    padding: 0px; float: right; width: 90px; position:absolute; margin-top: 39%; margin-right: -220px; margin-left: 910px;
}