.bodyPaginaInicio  {
background-image: url('../images/Fondo.png');
}

.bodyPaginaInternaMiTrabajo  {
background-image: url('../images/FondoPaginaInternaMiTrabajo.png');
}

.bodyPaginaInternaQuienSoy  {
    background-image: url('../images/FondoPaginaInternaQuienSoy.png');
    }   

.encabezadopaginainicio
{
    padding: 10px; margin: 10px;float: left; width: 450px; 
}

.botonCuadroMiTrabajo
{
    padding-left: 50px; float: left; width: 250px; position:relative; margin-top: 400px; margin-left: -400px;
}

.botonQuienSoyPaginaInicio
{
    padding-left: 50px; float: left; width: 220px; position:relative; margin-top: 340px; margin-left: -180px;
}
.botonAccionesProvocadorasPaginaInicio
{
    padding-left: 50px; float: left; width: 230px; position:relative; margin-top: 390px; margin-left: -20px;
}

.botonQuienSoyPaginasInternas
{
    padding-left: 50px; float: right; width: 150px; position:relative; margin-top: 550px; margin-right: 300px;
}

.botonAccionesProvocadorasPaginasInternas
{
    padding-left: 50px; float: right; width: 153px; position:relative; margin-top: 550px; margin-right: -270px;
}

.botonCuadroMiTrabajoPaginasInternas
{
    padding-left: 50px; float: right; width: 150px; position:relative; margin-top: 550px; margin-right: -30px;
}

.botonInicioPaginasInternas
{
    padding-left: 50px; float: right; width: 164px; position:relative; margin-top: 550px; margin-right: -10px;
}