.bodyPaginaInicio  {
background-image: url('../images/Fondo.png');
}

.bodyPaginaInternaMiTrabajo  {
background-image: url('../images/FondoPaginaInternaMiTrabajo.png');
}

.encabezadopaginainicio
{
    padding: 10px; margin: 10px;float: left; width: 450px; 
}

.textoMiTrabajo
{
    padding-left: 50px; float: left; position:relative; margin-top:200px; margin-left: auto;
}

.botonCuadroMiTrabajo
{
    padding-left: 50px; float: left; width: 300px; position:relative; margin-top: 400px; margin-left: -300px;
}